body {
  font-family: Inter, sans-serif;
  background-color: #051B4C;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.container {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 500px;
  padding: 20px;
  box-sizing: border-box;
}
.header {
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.title {
  font-size: 24px;
  font-weight: bold;
  color: #051B4C;
  margin-bottom: 5px;
}
.description {
  font-size: 14px;
  color: #555;
}
.question {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 8px;
  font-weight: bold;
  color: #051B4C;
  border: 1px solid #ccc;
}
.question label {
  display: block;
  font-size: 16px;
  margin-bottom: 8px;
}
.radio-group {
  display: flex;
  flex-direction: column;
  font-weight: normal;
  color: #051b4cbf;
}

.radio-group input[type="radio"] {
  appearance: none;
  padding: 5px;
  margin-right: 5px;
  border: 2px solid #38A70Cbf;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.radio-group input[type="radio"]:checked {
  background-color: #38A70C;
}

.radio-group label {
  margin-bottom: 4px;
}
.submit-btn {
  display: block;
  width:180px;
  padding: 9px 20px;
  background-color: #38A70C;
  font-weight: bold;
  font-family: Inter, sans-serif;
  color: white;
  border: none;
  border-radius: 60px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px; /* Adjust the gap between buttons as needed */
}

/* .submit-btn:hover {
  background-color: #051B4C;
} */
.next-btn {
  display: block;
  width:80px;
  padding: 9px 20px;
  background-color: #38A70C;
  font-weight: bold;
  font-family: Inter, sans-serif;
  color: white;
  border: none;
  border-radius: 60px;
  cursor: pointer;
  font-size: 16px;
  margin: 20px auto; /* This centers the button horizontally */
}

.tabcontent {
  display: flex;
  flex-direction: column;
  align-items: center; /* This centers the button horizontally */
}

/* .next-btn:hover{
  background-color: #051B4C;
} */
#previewButton{
  display: none;
  width:80px;
  padding: 10px;
  background-color: #5e35b1;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
#previewButton:hover{
  background-color: #452c87;
}
#backButton{
  padding: 9px 20px;
  background-color: #38A70C;
  color: white;
  border: none;
  border-radius: 60px;
  cursor: pointer;
  font-size: 16px;
  font-family: Inter, sans-serif;
  font-weight: bold;
}
#download-btn{
  padding: 9px 20px;
  background-color: #38A70C;
  color: white;
  border: none;
  border-radius: 60px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  font-family: Inter, sans-serif;
}
#uploadSection{
  display: block;
  padding: 10px;
  background-color: #051B4C;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
/* General container styling */
.container {
  width: 80%;
  margin: auto;
}

/* Tab button styling */

.tabs {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  font-family: Inter, sans-serif;
}

.tabs .tablinks {
  background-color: #051B4C;
  color: #9B9DB1;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  flex: 1 1 auto;
  text-align: center;
  font-family: Inter, sans-serif;
}

.tabs .tablinks:hover {
  background-color: #082F84;
  color: white;
  font-weight: bold;
}

.tabs .tablinks.active {
  background-color: #082F84;
  font-weight: bold;
  color: white;
}

/* Tab content styling */
.tabcontent {
  display: none;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 8px;
  border-top: none;
  background-color: #fff;
}

@media (max-width: 600px) {
    .tabs .tablinks {
        padding: 10px;
        font-size: 14px;
    }
    
    .tabcontent {
        padding: 15px;
    }
}

@media (max-width: 400px) {
    .tabs .tablinks {
        padding: 8px;
        font-size: 12px;
    }
    
    .tabcontent {
        padding: 10px;
    }
}

.summary-table {
  width: 100%;
  border-collapse: collapse;
  color: #051B4CBF;
}
.summary-table th, .summary-table td {
  border: 1px solid #ccc;
  padding: 8px;
}

.preview-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
  color: #051b4cbf;
  font-family: Inter, sans-serif;
}

.preview-table th, .preview-table td {
  padding: 12px 15px;
  border: 1px solid #ccc;
}

.preview-table th {
  background-color: #051b4c;
  color: #fff;
}

#preview-title{
  color: #051B4C;
}

#thankyou-msg{
  color: #051B4C;
  font-size: 18px;
  padding-bottom: 10px;
}
.hidden {
  display: none;
}

/* Header styling */

.header {
  color: #fff;
  padding: 30px 0;
  min-height: 70px;
  border-bottom: #98EB77 3px solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .title {
  font-size: 2em;
  position: absolute;
  left: 51%;
  transform: translateX(-52%);
  font-family: SharpGrotesk, sans-serif;
}

.header .logo {
  width: 150px;
  height: auto; /* Maintain aspect ratio */
}

.title {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  font-size: 24px;
}
#uploadSection {
  padding: 30px;
  margin-top: 30px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: Inter, sans-serif;
}
#uploadButton {
  display: none;
}
#uploadLabel {
  display: inline-block;
  padding: 9px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background-color: #083085;
  color: #fff;
  border: none;
  border-radius: 60px;
}
#uploadLabel:hover {
  background-color: #38A70C;
}
.default-btn {
  display: inline-block;
  padding: 9px 20px;
  font-size: 16px;
  font-weight: bold;
  font-family: Inter, sans-serif;
  cursor: pointer;
  background-color: #083085;
  color: #fff;
  border: none;
  border-radius: 60px;
}
.default-btn:hover {
  background-color: #38A70C;
}
h5 {
  margin: 20px 0;
}
#previewSection {
  text-align: center;
  margin-top: 20px;
  font-family: Inter, sans-serif;
}

#previewContent {
  white-space: pre-wrap;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  margin: 20px 0;
  overflow-x: auto;
  max-width: 100%;
  word-wrap: break-word;
  box-sizing: border-box;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 8px;
  text-align: left;
}

#close-btn{
  display: block;
  width:180px;
  padding: 9px 20px;
  background-color: #38A70C;
  font-weight: bold;
  font-family: Inter, sans-serif;
  color: white;
  border: none;
  border-radius: 60px;
  cursor: pointer;
  font-size: 16px;
  margin: 20px auto; /* This centers the button horizontally */
}
